@model PagedList.IPagedList<FirstBlog.Models.Makale>

@using PagedList;
@using PagedList.Mvc;

@foreach (var item in Model)
{
    <div class="blog-post">
        <div class="blog-block-img">
            <a href="/Home/MakaleDetay/@item.MakaleId">
                <img style="height:450px; width:700px;" src="@item.Foto" alt="@item.Baslık" class="img-fluid">
            </a>
        </div>
        <p class="blog-post-cat">@item.Etiket.Select(m => m.EtiketAdi).FirstOrDefault()</p>
        <p class="blog-post-cat" style="background-color:darkred; "> Okunma Sayısı @item.Okunma </p>

        <a href="/Home/MakaleDetay/@item.MakaleId">
            <h2 class="blog-post-title"> @item.Baslık </h2>
        </a>

        <p class="blog-post-meta"> <img src="~/Content/assets/images/blog/widget-3.jpg" alt="" class="img-fluid small">@string.Format("{0: dd MMMM yyyy}", item.Tarih) by <a href="#">@item.Uye.AdSoyad</a></p>

        @if (item.Icerik.Length > 200)
        {
            <p>@Html.Raw(item.Icerik.Substring(0, 200)) ...</p>
        }
        else
        {
            <p>@Html.Raw(item.Icerik)...</p>
        }

        <a href="/Home/MakaleDetay/@item.MakaleId" class="read-more">Devamını Oku</a>
    </div>
}

<nav aria-label="navigation ">
    @*<ul class="pagination blog-pagination justify-content-end">*@
    @*<li class="page-item">*@ @Html.PagedListPager(Model, page => "javascript:getData(" + page + ")", new PagedListRenderOptions
{
   FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link"); liTag.InnerHtml = aTag.ToString(); return liTag; },
   LiElementClasses = new string[] { "page-item" },
   UlElementClasses = new string[] { "pagination blog-pagination justify-content-end" }
})@*</li>*@


@*<li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Older</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#">Newer</a>
    </li>*@
@*</ul>*@
</nav>


