@model IEnumerable<FirstBlog.Models.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
	<h2 style="text-align:center;">Yorumlar</h2>

	<p>
		@Html.ActionLink("Yeni Yorum", "Create")
	</p>
	<table class="table table-striped table-bordered">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Makale.Baslık)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Icerik)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Tarih)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Makale.Baslık)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Icerik)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Tarih)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.YorumId }) |
				@Html.ActionLink("Details", "Details", new { id = item.YorumId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.YorumId })
			</td>
		</tr>
		}

	</table>
</div>